{% load static %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'assets/css/dich-vu.css' %}" />
{% include 'includes/header.html' %}
{% block content %}
   <section class="service-banner">
        <img src="{% static 'assets/images/banner/banner-web.jpg' %}" alt="banner-web" class="banner-web">
   </section>


   <section class="contain">
      <section class="service">
   <p class="paragraph">
    Ngày nay việc tìm 1 cửa hàng sửa chữa xe đạp không phải dễ dàng. Là chuỗi cửa hàng bán lẻ xe đạp lớn nhất cả nước, XEDAP.VN với đội ngũ kỹ thuật lâu năm, nhiều kinh nghiệm, hiện cung cấp tất cả (Full) dịch vụ dành cho xe đạp, đặc biệt các dòng xe đạp thể thao: Bảo dưỡng bảo trì xe đạp, Lắp ráp, Build xe mới, Sửa chữa, Thay thế, Nâng cấp phụ tùng xe đạp.
    </p>
    <p class="paragraph">
        Quý khách có nhu cầu sử dụng một trong các dịch vụ trên vui lòng liên hệ và mang xe đến các Showroom trực thuộc tại Hồ Chí Minh, Hà Nội, Đà Nẵng, Bình Dương, Đồng Nai, Tây Ninh, Bà Rịa, Bình Định, Quảng Ngãi, Quảng Nam với hơn 50 cửa hàng
    </p>
    <p class="paragraph">
        Dịch vụ sửa xe tận nhà phục vụ tận nhà cho khách hàng từ Thứ 2 đến Chủ nhật
    </p>
    <p class="hotline-call">Liên hệ ngay hotline: 1800 9473 ( 8h30 – 17h30 )</p>
     <h1 class="title-service">BẢNG GIÁ FULL GÓI DỊCH VỤ</h1>
      <p class="paragraph">
        Tùy vào hiện trạng chiếc xe đạp của Quý khách như thế nào để chọn Gói bảo dưỡng xe đạp thích hợp, Khi mang tới shop hoặc liên hệ dịch vụ sửa xe tận nhà sẽ có nhân viên kỹ thuật tư vấn cụ thể, dưới đây là bảng chi tiết các gói bảo dưỡng, chăm sóc xe đạp, Quý khách tham khảo để chọn gói phù hợp.
      </p>
      <img src="{% static 'assets/images/store/BẢNG-GIÁ-DỊCH-VỤ-SERVICE-01-01.jpg' %}" alt="banner-price_service" class="img-service">
      <img src="{% static 'assets/images/store/SUA-XE-TAI-NHA-06.jpg' %}" alt="car-repair-at-home" class="img-service">
      <p class="note">Một số lưu ý:</p>
      <p class="paragraph-note" >1. Nếu Quý khách không thể mang xe tận shop để thực hiện bảo dưỡng sửa chữa, Xedap.vn sẽ gọi dịch vụ SỬA CHỮA TẬN NHÀ phí dịch vụ chỉ 50.000VNĐ (chưa tính phí sửa chữa của xe đạp). Chi phí cụ thể sẽ được Xedap.vn thông báo trước.</p>
      <p class="paragraph-note" >2. Giá dịch vụ trên là tiền công thực hiện, chưa bao gồm VAT và các chi phí liên quan khác.</p>
      <img src="{% static 'assets/images/store/Sua-xe-tan-nha-web-xedapvn-01.jpg'  %}" alt="img-service" class="img-service">
  </section>
   </section>

   
{% endblock %}
 {% include 'includes/contact.html' %}
 {% include 'includes/overlays.html'%}
{% include 'includes/footer.html' %}
 {% include 'includes/ChatAI.html' %}
<script src="{% static '/assets/js/main.js' %}"></script>