{% load static %}
<!-- Banner -->
<section class="banner">
    <div class="slider">
      <!-- Slide 1 -->
      <div class="slide active">
        <img src="{% static 'assets/images/banner/banner-1.jpg' %}" alt="Slide 1">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>HỖ TRỢ THUÊ DÀI HẠN</p>
          <p>HÃY LIÊN HỆ VỚI CHÚNG TÔI</p>
          <a href="#" class="btn">THUÊ NGAY</a>
        </div>
      </div>
      <!-- Slide 2 -->
      <!-- <div class="slide">
        <img src="{% static 'assets/images/banner/banner-2.jpg' %}" alt="Slide 2">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>BẢO HÀNH ĐẾN 5 NĂM</p>
          <p>TRẢ GÓP ĐẾN 12 THÁNG</p>
          <a href="#" class="btn">Thuê NGAY</a>
        </div>
      </div> -->
      <!-- Slide 3 -->
      <!-- <div class="slide">
        <img src="{% static 'assets/images/banner/banner-3.jpg' %}" alt="Slide 3">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>BẢO HÀNH ĐẾN 5 NĂM</p>
          <p>TRẢ GÓP ĐẾN 12 THÁNG</p>
          <a href="#" class="btn">Thuê NGAY</a>
        </div>
      </div> -->
      <!-- Slide 4 -->
      <div class="slide">
        <img src="{% static 'assets/images/banner/banner-4.jpg' %}" alt="Slide 4">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>HỖ TRỢ THUÊ DÀI HẠN</p>
          <p>HÃY LIÊN HỆ VỚI CHÚNG TÔI</p>
          <a href="#" class="btn">THUÊ NGAY</a>
        </div>
      </div>
      <!-- Slide 5 -->
      <div class="slide">
        <img src="{% static 'assets/images/banner/banner-5.jpg' %}" alt="Slide 5">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>HỖ TRỢ THUÊ DÀI HẠN</p>
          <p>HÃY LIÊN HỆ VỚI CHÚNG TÔI</p>
          <a href="#" class="btn">THUÊ NGAY</a>
        </div>
      </div>
      <!-- Slide 6 -->
      <div class="slide">
        <img src="{% static 'assets/images/banner/banner-6.jpg' %}" alt="Slide 6">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>HỖ TRỢ THUÊ DÀI HẠN</p>
          <p>HÃY LIÊN HỆ VỚI CHÚNG TÔI</p>
          <a href="#" class="btn">THUÊ NGAY</a>
        </div>
      </div>
      <!-- Slide 7 -->
      <div class="slide">
        <img src="{% static 'assets/images/banner/banner-7jpg.jpg' %}" alt="Slide 7">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>HỖ TRỢ THUÊ DÀI HẠN</p>
          <p>HÃY LIÊN HỆ VỚI CHÚNG TÔI</p>
          <a href="#" class="btn">THUÊ NGAY</a>
        </div>
      </div>
      <!-- Slide 8 -->
      <!-- <div class="slide">
        <img src="{% static 'assets/images/banner/banner-8.jpg' %}" alt="Slide 8">
        <div class="slide-content">
          <h2>KHẮM PHÁ MỖI CUNG ĐƯỜNG</h2>
          <p>BẢO HÀNH ĐẾN 5 NĂM</p>
          <p>TRẢ GÓP ĐẾN 12 THÁNG</p>
          <a href="#" class="btn">Thuê NGAY</a>
        </div>
      </div>
    </div> -->
    <!-- Dots điều hướng -->
    <div class="dots">
      <span class="dot active" data-slide="0"></span>
      <span class="dot" data-slide="1"></span>
      <span class="dot" data-slide="2"></span>
      <span class="dot" data-slide="3"></span>
      <span class="dot" data-slide="4"></span>
      <!-- <span class="dot" data-slide="5"></span> -->
      <!-- <span class="dot" data-slide="6"></span> -->
      <!-- <span class="dot" data-slide="7"></span> -->
    </div>
  </section>
  <!-- end banner -->