* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  html {
    /* Hack */
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    height: 100%;
  }
  