   .service-banner{
        max-width: 100%;
        max-height: 1000px;
     
    }
    .banner-web{
        margin-top: 100px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contain{
        width: 100%;
        height: auto;
        background-color: #f6f5fa;
        padding: 33px 0px;
       
    }
    .service{
        display: flex;
        flex-direction: column;
        margin: 100px 100px 160px 160px;
        height: auto;
        max-width: 1760px;
        width: 100%;
        background: #ffffff;
        border-radius: 10px;
        padding: 20px;
        
    }
    .paragraph{
        font-size: 22px;
        line-height: 24px;
        color: black;
        margin: 20px 40px;
        display: flex;
    }
     .paragraph-note{
        font-size: 22px;
        line-height: 28px;
        color: black;
        margin: 10px 40px;
        display: flex;
        
    }
    .note{
        font-size: 22px;
        color: red;
        font-weight: bold;
        display: flex;
        margin: 10px 40px;
        margin-bottom: 0px;
        text-decoration: underline;
    }
     .title-service{
        font-size: 45px;
        line-height: 50px;
        color: black;
        font-weight: bold;
        /* margin: 0px 40px; */
        text-align: center;
        margin: 0 auto;
        display: flex;
     }
    .hotline-call{
        font-size: 22px;
        line-height: 22px;
        color: black;
        font-weight: bold;
        margin: 0px 40px;
        display: flex;
    }
    .img-service{
       margin: 20px 40px;
       
    }